body {
  font-family: Arial;
  margin: 0;
  background: #111;
  color: #fff;
}

header {
  text-align: center;
  padding: 30px;
}

.products {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
}

.product {
  background: #1c1c1c;
  padding: 15px;
  width: 220px;
  border-radius: 10px;
  text-align: center;
}

.product img {
  width: 100%;
  border-radius: 8px;
}

.product span {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  color: #00ff99;
}

.order {
  padding: 40px;
}

footer {
  text-align: center;
  padding: 20px;
  opacity: 0.6;
}
